//! **************************************************************************
// Written by: Map P.20131013 on Sun Jun 30 14:35:31 2019
//! **************************************************************************

SCHEMATIC START;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

